<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
	<!-- 配置扫描的包路径 -->
    <context:component-scan base-package="org.ijarvis" />
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<!--        <property name="url" value="jdbc:sqlserver://192.168.212.243:1433;databaseName=EpointSJ;encrypt=true;trustServerCertificate=true" />-->
		<property name="url" value="jdbc:mysql://192.168.188.150:3306/employees" />
		<!--        <property name="url" value="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.189.215)(PORT=1521))(FAILOVER=on)(LOAD_BALANCE=on))(CONNECT_DATA= (SERVICE_NAME=orcl)))" />-->
		<property name="username" value="root" />
		<property name="password" value="Gepoint" />
		<property name="filters" value="stat" />
		<property name="logAbandoned" value="true" />
		<property name="maxActive" value="100" />
	</bean>
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix">
			<value>/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver"/>
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:annotation-driven/>

</beans> 